
.btn {
  max-width: 35%;
}

.navigation {
  width: 100%;
  background-color: rgb(25, 25, 25);
}

.navbar {
  max-width: 1280px;
  margin: auto;
}

 .login {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 100%);
}

.login, .todos, .categories {
  min-height: calc(100vh - 72px);
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.todos h2 {
  max-width: 1280px;
}

.todoList {
  max-width: 1280px;
}

footer {
  width: 100%;
  background-color: rgb(50, 50, 50);
  padding: 1em;
  margin: auto;
  margin-top: 0;
}

footer p {
  max-width: 1280px;
  margin: auto;
  padding: 2em;
  color: #aaa;
}
