.todos {
    min-height: 50vh;
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
  
  .todos h2 {
    max-width: 1280px;
  }
  
  .todoList {
    max-width: 600px;
  }

  .todoList .todo {
    background-color: rgb(231, 231, 231);
  }